<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
   <div>
       <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Sign Out"/>
       </form>
    </div>
<div>{{some}}</div>
<br>
  <a href="/login">Login</a>
  <br>
  <a href="/notice">List of notices</a>
  <br>
  <a href="/neworder">List of orders</a>
</body>
</html>